.headLine {
    cursor: pointer;
}

#successOutcome, .failureMsg {
    display: none;
}

.validName, .validDetail, #failureMsg {
    font-size: small;
    color: red;
}

.validUpload {
    font-size: small;
}

#successMsg, .validUpload {
    color: rgb(46, 170, 46);
}